<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Participantes do projeto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="info-div">
    <ion-label>O projeto Newspeace é desenvolvido inteiramente por participantes do 3° Desenvolvimento de Sistemas (2021) da ETEC Abdias do Nascimento. Agradecemos ao nosso professor-mentor Fernando Santiago.</ion-label>
  </div>
  <div>
    <h1>Participantes</h1>
    <div *ngFor="let participant of participants" class="participant-div">
      <ion-avatar>
        <img [src]="participant.image"/>
      </ion-avatar>
      <ion-label class="participant-label">{{participant.name}}</ion-label>
    </div>
  </div>
</ion-content>
