ion-content {
  --background: #F9F9F9;
}

ion-fab {
  margin: 20px 10px;
}

ion-fab-button {
  --background: #8dc6ff;
  --background-activated: #5daeff;
  --background-hover: #5daeff;
}

svg {
  transform: scale(1.5);
  margin: 0 10px;
}

img {
  border-radius: 3em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-label {
  font-size: 18px;
  font-weight: 900;
  color: #22313f;
}

.info-desc {
  text-align:justify;
  color: #34495e;
  font-size: 16px;
}

.org-info {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 65px 25px;
}

#contribute-title {
  margin-top: 20px;
  font-size: 18px;
}
#org-link {
  margin-top: 10px;
  font-size: 1em;
}


.container-img-org {
  margin-top: 5em;
  border-radius: 3em;
  box-shadow: 0px 25px 50px -20px rgba(0,0,0,0.5);
}
