<ion-tabs class="tabs-icon-top">

  <ion-tab-bar slot="top" class="tab-bar" style="border: none !important;">
    <ion-tab-button tab="news" class="tab">
      <ion-icon name="newspaper-outline" class="ionicon-style"></ion-icon>
      <ion-label style="font-weight: 700;">Notícías</ion-label>
    </ion-tab-button>

    <img src="../assets/svg/logo-pombo.svg" />

    <ion-tab-button tab="worldmap" class="tab" [disabled]="!worldMapEnabled">
      <ion-icon name="earth-outline" class="ionicon-style"></ion-icon>
      <ion-label style="font-weight: 700;">Globo</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
