
.tab {
    font-size: 0.75rem;
}

.tabs-icon-top, 
.tabs-icon-top, .tab-bar, 
.tabs-icon-top, .tab-bar, .tab {
    background-color: #87CEEB;
}

ion-tab-button {
    --color: black;
    --background-focused: #ffffff;
    --color-selected: #ffffff;
}

img {
    height: 90%;
}
