
.tab {
  font-size: 0.75rem;
}

.tabs-icon-top,
.tabs-icon-top, .tab-bar,
.tabs-icon-top, .tab-bar, .tab {
  background-color: #8dc6ff;
}

ion-tab-button {
  --color: black;
  --background-focused: #e4f1fe;
  --color-selected: #e4f1fe;
}

svg {
  transform: scale(2.5);
}
