#content {
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title-orgs {
  font-size: medium;
  font-weight: 700;
}

.news-style-text {
  margin: 5% 1em 0 1em;
  text-align: justify;
}

.menu-content {
  --background: #f9f9f9;
}

.test {
  width: 18px;
  height: 32px;
  color: black;
}

ion-item {
  --inner-border-width: 0 0 0 0;
  --background: #f9f9f9;
  color: #1E1E23;
  font-weight: 400;
  padding-top: 1em;
}

ion-content {
  --background: #E0E6EF;
}

ion-toolbar {
  --background: #87CEEB;
}
