<div>
  <ion-fab (click)="closeNewsModal()" horizontal="start" vertical="top" slot="fixed">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-fab>

  <ion-fab (click)="openOrgsMenu()" horizontal="end" vertical="top" slot="fixed">
    <ion-icon name="menu"></ion-icon>
  </ion-fab>
</div>

<ion-content id="mainContent" fullscreen>
  <div class="container">
    <img [src]="news.urlToImage" style="height: 100%; object-fit: fill !important;"/>
    <div class="info">
      <span class="dayNews">notícias do dia</span>
      <span class="title">{{news.title}}</span>
      <span class="learn-more">Leia mais</span>
    </div>
  </div>

  <!-- FAB do recurso de voz -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" [style.display]="ttsEnabled ? 'inline' : 'none'">
    <ion-fab-button (click)="this.accessibility.speak(this.news)">
      <ion-icon name="volume-high-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-menu side="end" contentId="mainContent" menuId="end" id="orgs-menu">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="closeOrgsMenu()">
          <img class="test" src="./assets/svg/close-outline.svg">
        </ion-button>
      </ion-buttons>
      <ion-text class="title-orgs">Organizações que atuam na região</ion-text>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-content">
    <ion-item *ngFor="let org of organizations" button="true" detail="true" (click)="presentOrgsModal(org)">
      {{org.name}}
    </ion-item>
  </ion-content>
</ion-menu>
