.background-transparent {
  --background: rgba(200, 200, 200, 0.1);
}

ion-content, .menu-content {
  --background: #F9F9F9;
}

ion-button {
  --ripple-color: transparent;
}

ion-fab-button {
  --background: #87CEEB;
  --background-activated: #54ceff;
  --background-hover: #54ceff;
}

ion-fab {
  margin: 20px 10px;
}

ion-icon, svg {
  transform: scale(1.5);
}

svg {
  margin: 0 10px;
}

h5, p {
  word-wrap: break-word;
  text-align: justify;
  color: black;
  font-weight: bold;
}

main {
  width: 100%;
  position: absolute;
}

main::before {
  content: '';
  position: absolute;
  top: -30px;
  width: 100%;
  height: 30px;
  border-radius: 1.5em 1.5em 0 0;
  background-color: #F9F9F9;
}

.container {
  position: relative;
  height: 375px;
}

.info {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0px -110px 100px -70px rgba(0,0,0,1) inset;;
}

.container-info-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-gap: 1em;
  gap: 1em;
  align-items: start;
  margin: 35px 20px;
}

.container-info-grid>.title {
  font-size: 24px;
  text-align: justify;
  font-weight: bold;
  color: white
}

.info-subgrid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info-subgrid>.author-date {
  font-size: 12px;
  font-weight: bold;
  color: rgb(163, 229, 241);
  background: rgba(49, 118, 131, 0.5);
  padding: 9px 8px 7.5px 0;
  border-radius: 3em;
}

main {
  p {
    color: #0a3b45;
  }
}

#orgs-menu {
  --width: 90%;
}

ion-toolbar {
  --border-width: 0;
  ion-text {
    font-weight: bold;
    margin: 20px;
  }
}

ion-item {
  --inner-border-width: 0;
  --background: none;
  --color-activated: #0F5967;
  --detail-icon-color: #0F5967;
  --color-hover: #0F5967;
  --background-activated: black;
  --background-hover: black;
  --detail-icon-font-size: 24px;
  color: #0F5967;
  padding-top: 1em;
  span {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
  }
}

@media (min-height: 1024px) {
  .container {
    height: 500px;
  }
  .container-info-grid {
    margin-bottom: 50px;
  }
}
