<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeNewsModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openOrgsMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Notícia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="mainContent">
  <div id="content">
    <img [src]="news.urlToImage" width="100%"/>
    <ion-label class="title-news news-style-text">{{news.title}}</ion-label>
    <ion-label class="source-news news-style-text">{{news.source.name}}</ion-label>
    <ion-label  class="description-news news-style-text">{{news.description}}</ion-label>
  </div>

  <!-- FAB do recurso de voz -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" [style.display]="ttsEnabled ? 'inline' : 'none'">
    <ion-fab-button (click)="this.accessibility.speak(this.news)">
      <ion-icon name="volume-high-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-menu side="end" contentId="mainContent" menuId="end" id="orgs-menu">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="closeOrgsMenu()">
          <img class="test" src="./assets/svg/close-outline.svg">
        </ion-button>
      </ion-buttons>
      <ion-text class="title-orgs">Organizações que atuam na região</ion-text>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-content">
    <ion-item *ngFor="let org of organizations" button="true" detail="true" (click)="presentOrgsModal(org)">
      {{org.name}}
    </ion-item>
  </ion-content>
</ion-menu>
