ody {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
svg {
  width: 85vw;
  display: block;
  margin: auto;
}

path {
  fill: #555;
  cursor: pointer;
}
path:hover {
  fill: #84eb8d;
}

ion-slides {
  background: #9CC0FA !important;
  height: 100%;
}

ion-buttons {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  margin-bottom: 7.5px;
}

ion-button {
  background-color: #f9f9f9;
  color: #555;
  border: solid 1px #b3b3b3;
}
