* {
  font-family: FiraSans;
  color: #fff;
}
h1, h2{
  font-weight: bold;
}
.checkbox-label {
  color: #000;
}
.checkbox-item {
  --background-hover: #fff;
  --background-hover-opacity: 1;
}
#select-languages {
  justify-self: flex-start;
}
ion-checkbox {
  --border-color: rgba(255, 255, 255, 0);
  --border-color-checked: rgba(255, 255, 255, 0);
  --checkmark-color: #000;
  --background-checked:  rgba(255, 255, 255, 0);
}
ion-slides{
  height: 100%;
  background-color: #87CEEB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --bullet-background: #000;
  --bullet-background-active: #fff;
}
#welcome-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.full-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img {
  width: 75%;
}
.primary-icon {
  font-size: 64px;
}
.secondary-icon {
  font-size: 32px;
}
.secondary-div {
  margin-top: 50px;
}
ion-button {
  margin-top: 50px;
}
