* {
  font-family: FiraSans;
  color: #fff;
}
h1, h2{
  font-weight: bold;
}
ion-slides{
  height: 100%;
  background-color: #87CEEB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  --bullet-background: #000;
  --bullet-background-active: #fff;
}
#welcome-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.full-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img {
  width: 75%;
}
.primary-icon {
  font-size: 64px;
}
.secondary-icon {
  font-size: 32px;
}
.secondary-div {
  margin-top: 50px;
}
#continue-button {
  margin-top: 50px;
}
