#content {
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#news-title, #news-source {
  font-weight: bold;
}
#news-content {
}
#orgs-menu {
  --width: 70%;
}

.news-style-text {
  margin: 5% 1em 0 1em;
  text-align: justify;
}

ion-content {
  --background: #E0E6EF;
}

ion-toolbar {
  --background: #87CEEB;
}
