#header-toolbar {
  --background: #87CEEB;
}

.card-style {
  border-bottom: 3px solid #87CEEB;
  background-color: #E0E6EF;

}

.title-news {
  font-family: FiraSans !important;
  color: black;
  font-size: x-large;
  font-weight: bold;
}

.description-news {
  font-family: FiraSans !important;
  color: black;
  font-size: medium;
}

.source-news {
  font-family: FiraSans !important;
  color: black;
  font-size: small;
  font-weight: bold;
}
