<ion-content>
  <ion-list style="padding-top: 0;">
    <div class="card-style" *ngFor="let news of newsArr" button="true" (click)="presentNewsModal(news)">
      <img [src]="news.urlToImage" width="100%" height="250px"/>
      <ion-card-header>
        <ion-card-title class="title-news">{{news.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="description-news">{{news.description}}</ion-card-content>
      <ion-card-content class="source-news">{{news.source.name}} - {{news.publishedAt}}</ion-card-content>
    </div>
  </ion-list>
</ion-content>
