<ion-content>
  <ion-slides *ngIf="!isLoading" pager>
    <ion-slide *ngFor="let news of highlightedNews">
      <img [src]="news.urlToImage" style="
          width: 100vw !important;
          height: 100% !important;
          object-fit: fill !important;
        " />
      <div class="container" (click)="presentNewsModal(news)">
        <div class="info">
          <span class="dayNews">notícias do dia</span>
          <span class="title">{{news.title}}</span>
          <span class="learn-more">Leia mais
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
              role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16">
              <g fill="currentColor">
                <path fill-rule="evenodd"
                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                <path fill-rule="evenodd"
                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
              </g>
            </svg></span>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <div *ngIf="!isLoading; else loadingTemplate">
    <div class="container-news">
      <div class="title-country">
        <span class="name-country">América do Sul</span>
        <button class="ion-activatable ripple-parent see-all">
          ver todos
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
      <div *ngFor="let news of highlightedNews" class="news" (click)="presentNewsModal(news)">
        <img [src]="news.urlToImage" class="img-country-news"/>
        <div class="info-news-country">
          <span>{{news.title}}</span>
          <p>{{news.source.name}} • {{parseDate(news)}}</p>
        </div>
      </div>
    </div>

    <div class="container-news">
      <div class="title-country">
        <span class="name-country">América do Norte</span>
        <button class="ion-activatable ripple-parent see-all">
          ver todos
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
      <div *ngFor="let news of highlightedNews" class="news" (click)="presentNewsModal(news)">
        <img [src]="news.urlToImage" class="img-country-news"/>
        <div class="info-news-country">
          <span>{{news.title}}</span>
          <p>{{news.source.name}} - {{parseDate(news)}}</p>
        </div>
      </div>
    </div>
    <div class="container-news">
      <div class="title-country">
        <span class="name-country">Europa</span>
        <button class="ion-activatable ripple-parent see-all">
          ver todos
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
      <div *ngFor="let news of highlightedNews" class="news" (click)="presentNewsModal(news)">
        <img [src]="news.urlToImage" class="img-country-news"/>
        <div class="info-news-country">
          <span>{{news.title}}</span>
          <p>{{news.source.name}} - {{parseDate(news)}}</p>
        </div>
      </div>
    </div>
    <div class="container-news">
      <div class="title-country">
        <span class="name-country">África</span>
        <button class="ion-activatable ripple-parent see-all">
          ver todos
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
      <div *ngFor="let news of highlightedNews" class="news" (click)="presentNewsModal(news)">
        <img [src]="news.urlToImage" class="img-country-news"/>
        <div class="info-news-country">
          <span>{{news.title}}</span>
          <p>{{news.source.name}} - {{parseDate(news)}}</p>
        </div>
      </div>
    </div>
    <div class="container-news">
        <div class="title-country">
          <span class="name-country">Ásia</span>
          <button class="ion-activatable ripple-parent see-all">
            ver todos
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </div>
        <div *ngFor="let news of highlightedNews" class="news" (click)="presentNewsModal(news)">
          <img [src]="news.urlToImage" class="img-country-news"/>
          <div class="info-news-country">
            <span>{{news.title}}</span>
            <p>{{news.source.name}} - {{parseDate(news)}}</p>
          </div>
        </div>
    </div>
    <div class="container-news">
      <div class="title-country">
        <span class="name-country">Oceânia</span>
        <button class="ion-activatable ripple-parent see-all">
          ver todos
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
      <div *ngFor="let news of highlightedNews" class="news" (click)="presentNewsModal(news)">
        <img [src]="news.urlToImage" class="img-country-news"/>
        <div class="info-news-country">
          <span>{{news.title}}</span>
          <p>{{news.source.name}} - {{parseDate(news)}}</p>
        </div>
      </div>
    </div>

    <div class="container-news">
      <div class="title-country">
        <span class="name-country">Antártida</span>
        <button class="ion-activatable ripple-parent see-all">
          ver todos
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
      <div *ngFor="let news of highlightedNews" class="news" (click)="presentNewsModal(news)">
        <img [src]="news.urlToImage" class="img-country-news"/>
        <div class="info-news-country">
          <span>{{news.title}}</span>
          <p>{{news.source.name}} - {{parseDate(news)}}</p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loadingTemplate>
    <div id="loading-div">
      <ion-label>Obtendo as notícias</ion-label>
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-template>

  <!-- FAB para abrir o modal de preferências -->
  <ion-fab (click)="presentPreferencesModal()" horizontal="end" vertical="top" slot="fixed">
    <svg class="icon-settings" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
      width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
      <g fill="none">
        <path
          d="M13.82 22h-3.64a1 1 0 0 1-.977-.786l-.407-1.884a8.002 8.002 0 0 1-1.535-.887l-1.837.585a1 1 0 0 1-1.17-.453L2.43 15.424a1.006 1.006 0 0 1 .193-1.239l1.425-1.3a8.1 8.1 0 0 1 0-1.772L2.623 9.816a1.006 1.006 0 0 1-.193-1.24l1.82-3.153a1 1 0 0 1 1.17-.453l1.837.585c.244-.18.498-.348.76-.5c.253-.142.513-.271.779-.386l.408-1.882A1 1 0 0 1 10.18 2h3.64a1 1 0 0 1 .976.787l.412 1.883c.28.124.554.263.819.418c.247.143.486.3.716.469l1.838-.585a1 1 0 0 1 1.169.453l1.82 3.153c.232.407.152.922-.193 1.239l-1.425 1.3a8.1 8.1 0 0 1 0 1.772l1.425 1.3c.345.318.425.832.193 1.239l-1.82 3.153a1 1 0 0 1-1.17.453l-1.837-.585a7.98 7.98 0 0 1-1.534.886l-.413 1.879a1 1 0 0 1-.976.786zM11.996 8a4 4 0 1 0 0 8a4 4 0 0 0 0-8z"
          fill="currentColor" />
      </g>
    </svg>
  </ion-fab>
</ion-content>
