<ion-header>
  <ion-toolbar id="header-toolbar">
    <ion-title>
      Newspeace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let news of newsArr" button="true" (click)="presentNewsModal(news)">
      <img [src]="news.urlToImage" width="100%" height="250px"/>
      <ion-card-header>
        <ion-card-title>{{news.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{news.description}}</ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
